@font-face {
  font-family: "iconfont"; /* Project id 4615109 */
  src: url('iconfont.woff2?t=1723604167934') format('woff2'),
       url('iconfont.woff?t=1723604167934') format('woff'),
       url('iconfont.ttf?t=1723604167934') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huojian:before {
  content: "\e60d";
}

.icon-a-scriptcode-2:before {
  content: "\e975";
}

