* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px rgba(30, 144, 255));
}
